<!DOCTYPE html>
<html>

<head>
  <title>Gemini System</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/astronomer.css">
  <script src="https://kit.fontawesome.com/100c767ee6.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="topnav">
        <a href="/astronomer"><img src="/images/gemini-logo.png" class="logo" alt="gemini12logo"></a>
        <div class="rightnav">
            <a href="#aboutus">About us</a>
            <a href="#" onclick="logout()" id="log"><i class="fa-solid fa-arrow-right-from-bracket" ></i>  Logout</a>
        </div>
    </div>
    <div class="header">
        <h1>EXPLORE<br>
            THE GALAXIES
        </h1>
        <p>Every time we make an observation, we uncover new insights<br>
            about the cosmos and our place in it. It's a never-ending<br>
            journey of discovery and wonder.</p>
    </div>
    <div class="page1">
        <div class="create">
           <div class="left">
            <h3>Create Science Plan</h3>
            <p>A Gemini project aims to provide convenience to<br>
                astronomers by allowing them to customize and<br>
                create a science plan for astronomical data that<br> 
                they would like to make an observation.</p>
            <a href="/create_scienceplan"><button id="createNow">Create Now</button></a>
           </div>
           <div class="right">
                <img src="/images/create-sp.jpg" alt="createsp">
           </div>
        </div>
        <div class="main-container">
            <h2>Science Plan</h2>
            <table class="table table-responsive table-dark" >
                <thead>
                <tr>
                    <th>Plan No</th>
                    <th>Creator</th>
                    <th>Funding</th>
                    <th>Star System</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Location</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody id="table-body"></tbody>
            </table>
        </div>
    </div>
    <div class="earth">
    </div>
    <div class="testsci">
        <div class="create">
            <h2>Test Science Plan</h2>
            <p>Every science plan should be tested via the virtual telescope and interactive observing mode before making a submission.</p>
            <a href="/test_scienceplan"><button>Test Now</button></a>
        </div>
    </div>
    <div class="footer" id="aboutus">
        <h2>Our Team</h2>
        <p>6388052 Runchana Seesung</br>
        6388117 Siranut Akarawuthi</p>
    </div>
    <script src="/js/astronomer.js">
   
    </script>
</body>
</html>