<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Science Plan</title>
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/createsciplan.css">
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            display: none;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div th:replace="~{fragments/navigation :: navigation}"></div>
    <div class="main-content">
        <div class="container">
            <h2 class="text-center mt-4 text-light">Add New Science Plan</h2>
            <div class="d-flex justify-content-center">
                <form id="addForm bg-light" class="row w-50 " th:action="@{/createNewSicPlan}" method="post">
                    <div class="bg-light justify-content-center">
                    <hr class="my-2">
                    <div class="w-100 col-md-4 mb-3">
                        <label for="FundingInUSD" class="form-label fs-5">Funding In USD</label>
                        <input type="number" class="form-control" id="FundingInUSD" required
                            th:field="*{sciencePlan.fundingInUSD}">
                    </div>
                    <div class="w-100 col-md-4 mb-3">
                        <label for="Objectives" class="form-label fs-5">Objectives</label>
                        <input type="text" class="form-control" id="Objectives" required
                            th:field="*{sciencePlan.objectives}">
                    </div>
                    <div class="w-100 col-md-4 mb-3">
                        <label for="Objectives" class="form-label fs-5">Star System</label>
                        <select class="form-select" aria-label="StarSystem" required
                            th:field="*{sciencePlan.starSystem}">
                            <option value="" selected>Choose</option>
                            <option th:each="star : ${starSystems}" th:value="${star}" th:text="${star}"></option>
                        </select>
                    </div>
                    <div class="w-100 row col-md-4 mb-3">
                        <div class="col-6">
                            <label for="StartDate" class="form-label fs-5">Start Date</label>
                            <input type="datetime-local" class="form-control" id="sDate" required>
                            <input type="text" class="form-control d-none" id="startDate" value="" th:field="*{sciencePlan.startDate}" required>
                        </div>
                        <div class="col-6">
                            <label for="EndDate" class="form-label fs-5">End Date</label>
                            <input type="datetime-local" class="form-control" id="eDate" required>
                            <input type="text" class="form-control d-none" id="endDate" value="" th:field="*{sciencePlan.endDate}" required>
                        </div>
                    </div>
                    <div class="w-100 col-md-4 mb-3">
                        <label for="telescopeLocation" class="form-label fs-5">Telescope Location</label>
                        <select class="form-select" aria-label="telescopeLocation" required
                            th:field="*{sciencePlan.telescopeLocation}">
                            <option value="" selected>Choose</option>
                            <option value="HAWAII">HAWAII</option>
                            <option value="CHILE">CHILE</option>
                        </select>
                    </div>
                    <hr class="my-2">
                    <h5>Data Processing Requirement</h5>
                    <div class="w-100 row col-md-4 mb-3">
                        <div class="col-4">
                            <label for="FileType" class="form-label fs-5">File Type</label>
                            <select class="form-select" aria-label="FileType" required th:field="*{dataProc.fileType}">
                                <option value="" selected>Choose</option>
                                <option value="JPEG">JPEG</option>
                                <option value="PNG">PNG</option>
                                <option value="RAW">RAW</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label for="FileQuality" class="form-label fs-5">File Quality</label>
                            <select class="form-select" aria-label="FileType" required
                                th:field="*{dataProc.fileQuality}">
                                <option value="" selected>Choose</option>
                                <option value="Low">Low</option>
                                <option value="Fine">Fine</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label for="ColorType" class="form-label fs-5">Color Type</label>
                            <select class="form-select" aria-label="FileType" required th:field="*{dataProc.colorType}">
                                <option value="" selected>Choose</option>
                                <option value="B&W mode">B&W mode</option>
                                <option value="Color mode">Color mode</option>
                            </select>
                        </div>
                    </div>
                    <div class="w-100 row col-md-4 mb-3">
                        <div class="col">
                            <label for="Contrast" class="form-label fs-5">Contrast</label>
                            <input type="number" class="form-control" id="Contrast" required
                                th:field="*{dataProc.contrast}">
                        </div>
                        <div class="col">
                            <label for="Brightness" class="form-label fs-5">Brightness</label>
                            <input type="number" class="form-control" id="Brightness" required
                                th:field="*{dataProc.brightness}">
                        </div>
                        <div class="col">
                            <label for="Saturation" class="form-label fs-5">Saturation</label>
                            <input type="number" class="form-control" id="Saturation" required
                                th:field="*{dataProc.saturation}">
                        </div>
                        <div class="col">
                            <label for="Highlights" class="form-label fs-5">Highlights</label>
                            <input type="number" class="form-control" id="Highlights" required
                                th:field="*{dataProc.highlights}">
                        </div>
                        <div class="col">
                            <label for="Exposure" class="form-label fs-5">Exposure</label>
                            <input type="number" class="form-control" id="Exposure" required
                                th:field="*{dataProc.exposure}">
                        </div>
                    </div>
                    <div class="w-100 row col-md-4 mb-3">
                        <div class="col">
                            <label for="Shadows" class="form-label fs-5">Shadows</label>
                            <input type="number" class="form-control" id="Shadows" required
                                th:field="*{dataProc.shadows}">
                        </div>
                        <div class="col">
                            <label for="Whites" class="form-label fs-5">Whites</label>
                            <input type="number" class="form-control" id="Whites" required
                                th:field="*{dataProc.whites}">
                        </div>
                        <div class="col">
                            <label for="Blacks" class="form-label fs-5">Blacks</label>
                            <input type="number" class="form-control" id="Blacks" required
                                th:field="*{dataProc.blacks}">
                        </div>
                        <div class="col">
                            <label for="Luminance" class="form-label fs-5">Luminance</label>
                            <input type="number" class="form-control" id="Luminance" required
                                th:field="*{dataProc.luminance}">
                        </div>
                        <div class="col">
                            <label for="Hue" class="form-label fs-5">Hue</label>
                            <input type="number" class="form-control" id="Hue" required th:field="*{dataProc.hue}">
                        </div>
                    </div>

                    <div class="w-100 row col-md-4 mb-3">
                        <button type="submit" onclick="submitForm()"
                            class="btn btn-success ">Submit</button>
                    </div>
                    <div class="w-100 row col-md-4 mb-3">
                        <button type="button" class="btn btn-outline-light">
                            <a href="/scienceplan" style=" text-decoration: none;">back</a>
                       </button>
                    </div>
                    <div class="alert alert-danger my-2" role="alert" th:text="${error}" th:if="${error}"></div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script>
        function submitForm() {
            const sDate = moment(document.getElementById("sDate").value).format('DD/MM/YYYY HH:mm:ss');
            const eDate = moment(document.getElementById("eDate").value).format('DD/MM/YYYY HH:mm:ss');
            const startDate = document.getElementById("startDate").value = sDate;
            const endDate = document.getElementById("endDate").value = eDate;
        }
    </script>
</body>

</html>