<!DOCTYPE html>
<html>

<head>
  <title>Gemini System</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/login.css">
  <script src="https://kit.fontawesome.com/100c767ee6.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="main-container">
    <div class="box left"></div>
    <div class="box right">
      <h2>Welcome to Gemini System</h2>
      <div class="loginform"  id="login-form">
        <h3>Login to your account</h3>
        <h4>Don't have an account <a href="/register">Sign Up</a></h4>
        <form>
          <div class="form-group">
            <label for="Username">Username</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Enter your Username" id="username">
            </div>
          </div>
          <div class="form-group">
            <label for="Password">Password</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-lock"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="Enter your Password"  id="pwd" name="password">
            </div>
          </div>
          <button onclick="login(document.getElementById('username').value, document.getElementById('pwd').value)" class="btn btn-primary">Login</button>
        </form>
        <div class="alert alert-danger" role="alert" id="loginalert">
        </div>
      </div>
    </div>
  </div>
  <script src="/js/login.js">
   
  </script>

</body>
</html>