<!DOCTYPE html>
<html>

<head>
    <title>Gemini System</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/collect.css">
    <script src="https://kit.fontawesome.com/100c767ee6.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="topnav">
        <a href="/astronomer"><img src="/images/gemini-logo.png" class="logo" alt="gemini12logo"></a>
        <div class="rightnav">

            <a href="#" onclick="logout()" id="log"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
        </div>
    </div>
    <div class="page1">
    </div>
    <div class="page2">
        <div class="title">
            <h1>Collect Astronomical Data</h1>
        </div>
        <div class="main-container">
            <h2 id="title">Astronomical Data</h2>
            <form class="form">
                <label for="id">Science Plan ID</label>
                <select id="sciplanNo" class="form-select" aria-label="select example" required>
                    <option value="" disabled selected>Please select</option>
                </select>
                <div class="tworow">
                    <div>
                        <label for="id">Creator Name</label>
                        <input id="creatorName" type="text" class="form-control" disabled>
                    </div>
                    <div>
                        <label for="id">Star System</label>
                        <input id="starSystem" type="text" class="form-control" disabled>
                    </div>
                </div>
                <div class="tworow">
                    <div>
                        <label for="id">Funding (USD)</label>
                        <input id="funding" type="text" class="form-control" disabled>
                    </div>
                    <div>
                        <label for="id">Telescope Location</label>
                        <input id="telescopeLoc" type="text" class="form-control" disabled>
                    </div>
                    <div>
                        <label for="id">Status</label>
                        <input id="status" type="text" class="form-control" disabled>
                    </div>
                </div>
                <div class="tworow">
                    <div>
                        <label for="id">Start Date</label>
                        <input id="startDate" type="text" class="form-control" disabled>
                    </div>
                    <div>
                        <label for="id">End Date</label>
                        <input id="endDate" type="text" class="form-control" disabled>
                    </div>
                </div>
                <button type="submit" id="collectbtn" class="btn btn-primary form-control">Start Collect</button>
            </form>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

            <!-- Change the below data attribute to play -->
            <div id="after">
                <p>Collecting Astronomical Data</p>
                <div class="progressone-wrap progressone" data-progress-percent="100" id="progressbar1">
                    <div class="progressone-bar progressone"></div>
                </div>
                <p>Loading Images</p>
                <div class="progresstwo-wrap progresstwo" data-progress-percent="100" id="progressbar2">
                    <div class="progresstwo-bar progresstwo"></div>
                </div>
                <p>Displaying Images</p>
                <div class="progressthree-wrap progressthree" data-progress-percent="100" id="progressbar2">
                    <div class="progressthree-bar progressthree"></div>
                </div>
            </div>
            <div id="result">
                <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
                    <div class="carousel-inner">
                    
                    </div>
                    <button class="carousel-control-prev" type="button"
                        data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                        data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="button-div ">
                    <button id="correct">Okay</button>
                </div>
            </div>
            <div class="response" id="response">
                <p id="content">Science Plan status has been updated successfully!</p>
                <a href="/observer"><button id="resultbtn" class="btn">Go Back</button></a>
            </div>

        </div>
    </div>
    <script src="/js/collect.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>