<!DOCTYPE html>
<html>

<head>
    <title>Gemini System</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/test.css">
    <script src="https://kit.fontawesome.com/100c767ee6.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="topnav">
        <a href="/astronomer"><img src="/images/gemini-logo.png" class="logo" alt="gemini12logo"></a>
        <div class="rightnav">

            <a href="#" onclick="logout()" id="log"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
        </div>
    </div>
    <div class="page1">
    </div>
    <div class="page2">
        <div class="title">
            <h1>Test Science Plan</h1>
        </div>
        <div class="main-container">
            <form class="form">
                <label for="id">Science Plan ID</label>
                <select id="sciplanNo" class="form-select" aria-label="select example">
                    <option selected>Select Science Plan ID</option>
                    
                </select>
                <div class="tworow">
                    <div>
                        <label for="id">Creator Name</label>
                        <input id="creatorName" type="text" class="form-control" disabled>
                    </div>
                    <div>
                        <label for="id">Star System</label>
                        <input id="starSystem" type="text" class="form-control" disabled>
                    </div>
                </div>
                <div class="tworow">
                    <div>
                        <label for="id">Funding (USD)</label>
                        <input id="funding" type="text" class="form-control" disabled>
                    </div>
                    <div>
                        <label for="id">Telescope Location</label>
                        <input id="telescopeLoc" type="text" class="form-control" disabled>
                    </div>
                    <div>
                        <label for="id">Status</label>
                        <input id="status" type="text" class="form-control" disabled>
                    </div>
                </div>
                <div class="tworow">
                    <div>
                        <label for="id">Start Date</label>
                        <input id="startDate" type="text" class="form-control" disabled>
                    </div>
                    <div>
                        <label for="id">End Date</label>
                        <input id="endDate" type="text" class="form-control" disabled>
                    </div>
                </div>
                <button  class="btn btn-primary form-control">Test</button>
            </form>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

            <!-- Change the below data attribute to play -->
            <div id="after">
                <p>Testing Selected star system</p>
                <div class="progressone-wrap progressone" data-progress-percent="100" id="progressbar1">
                    <div class="progressone-bar progressone"></div>
                </div>
                <p>Tesing Image processing configuration</p>
                <div class="progresstwo-wrap progresstwo" data-progress-percent="100" id="progressbar2">
                    <div class="progresstwo-bar progresstwo"></div>
                </div>
                <p>Testing Telescope Location</p>
                <div class="progressthree-wrap progressthree" data-progress-percent="100" id="progressbar2">
                    <div class="progressthree-bar progressthree"></div>
                </div>
                <p>Testing Duration</p>
                <div class="progressfour-wrap progressfour" data-progress-percent="100" id="progressbar2">
                    <div class="progressfour-bar progressfour"></div>
                </div>
            </div>
            <div id="result">
                <h2>Test Result</h2>
            </div>

        </div>
    </div>
    <script src="/js/test.js"></script>

</body>

</html>