<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="/output.css">
</head>
<body class="bg-cover bg-world-bg">
<nav class="p-[5%] flex justify-end items-end space-x-[4%]">
    <a href="/signin">
        <button class="py-2 px-4">
            <span class="text-white font-bold">Sign in</span>
        </button>
    </a>
    <a href="/signup">
        <button class="bg-white rounded-3xl py-2 px-4">
            <span class="text-black font-bold">Sign up</span>
        </button>
    </a>
</nav>
<div class="flex justify-center items-center">
    <div class="bg-white p-8 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-6">Login</h2>
        <form action="/signin" method="post">
            <div class="mb-4">
                <label for="username" class="block text-gray-700 font-bold mb-2">Username:</label>
                <input type="text" id="username" name="username" th:required="required" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>

            <div class="mb-6">
                <label for="password" class="block text-gray-700 font-bold mb-2">Password:</label>
                <input type="password" id="password" name="password" th:required="required" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>

            <div class="flex items-center justify-center rounded-3xl bg-black">
                <input type="submit" value="Login" class="text-white hover:bg-black-600 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            </div>
<!--            <div th:if="${error}" class="text-red-500 mt-4" th:text="${error}"></div>-->
        </form>
    </div>
</div>
</body>
</html>