.topnav {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 3vmin 4vmin 3vmin 4vmin;
}

.rightnav {
    display: flex;
    gap: 2em;
}

a {
    font-weight: 400;
    text-decoration: none;
    color: white;
}

img.logo {
    height: 100px;
    width: 100px;
}

.page1 {
    background-image: url(/images/createsciplan.jpg);
    background-position: center;
    background-size: cover;
    min-height: 60vmin;
}

.page2 {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    min-height: 50vmin;
    padding: 5vmin 5vmin 10vmin 5vmin;
}

.title {
    display: flex;
    justify-content: center;
    padding: 4vmin;
}

.title h1 {
    font-weight: 300
}

.page2 label {
    font-weight: 300;
}

h3 {
    margin-top: 2em;
    margin-bottom: 1em;
}

.main-container {
    width: 80vmin;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    padding: 5vmin;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-height: 55vmin;
}

form {
    width: 100%;
}

label {
    font-size: 0.8em;
    margin-top: 1em;
}

.tworow {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.tworow div {
    width: 100%;
}

button {
    margin-top: 1.5em;
}

.form-select {
    font-weight: 300;
}

@import "compass/css3";

#after {
    display: none;
    width: 100%;
}

#result {
    display: none;
    width: 100%;
}

#hidden {
    display: none;
}


.progressone {
    width: 100%;
    height: 30px;
}

.progressone-wrap {
    background: rgb(10, 195, 60);
    margin: 8px 0;
    overflow: hidden;
    position: relative;
}

.progressone-wrap .progressone-bar {
    background-color: aliceblue;
    left: 0;
    position: absolute;
    top: 0;
}

.progresstwo {
    width: 100%;
    height: 30px;
}

.progresstwo-wrap {
    background: rgb(10, 195, 60);
    margin: 8px 0;
    overflow: hidden;
    position: relative;
}

.progresstwo-wrap .progresstwo-bar {
    background-color: aliceblue;
    left: 0;
    position: absolute;
    top: 0;
}

.progressthree {
    width: 100%;
    height: 30px;
}

.progressthree-wrap {
    background: rgb(10, 195, 60);
    margin: 8px 0;
    overflow: hidden;
    position: relative;
}

.progressthree-wrap .progressthree-bar {
    background-color: aliceblue;
    left: 0;
    position: absolute;
    top: 0;
}

.progressfour {
    width: 100%;
    height: 30px;
}

.progressfour-wrap {
    background: rgb(10, 195, 60);
    margin: 8px 0;
    overflow: hidden;
    position: relative;
}

.progressfour-wrap .progressfour-bar {
    background-color: aliceblue;
    left: 0;
    position: absolute;
    top: 0;
}

p {
    margin-bottom: 0;
}

.main-container h2{
    display: none;
    font-weight: 300;
}

#result p {
    margin: 10px 0px;
}

i {
    margin: 0px 5px;
}

.fa-xmark {
    color: red;
}

.fa-check {
    color: green;
}

.button-div button {
    margin-left: 0;
    margin-right: 0;
    background-color: rgb(25, 91, 166);
    color: white;
    height: 50px;
    width: 130px;
    border-radius: 50px;
    border: 0px;
}

.button-div {
    display: flex;
    justify-content: center;
    gap: 1em;
}

#log {
    color: rgb(180, 180, 180);
}

.carousel img{
    height: 50vmin;
    object-fit: cover;
}
#carouselExampleControlsNoTouching{
    margin-top: 1.5em;
}

#correct{
    background: linear-gradient(90deg, rgba(20,83,154,1) 24%, rgba(70,137,211,1) 83%);

}
#wrong{
    background-color: rgb(194, 50, 50);
}

.response{
    display: none;
}
#resultbtn{
    background-color: #0C6DFD;
    color: white;
    width: 130px;
    border-radius: 50px;
}