body {
    background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/background_01.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
  }