.main-content {
    background-image: url("https://images8.alphacoders.com/468/468739.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.hero {
    background-color: #fff;
    text-align: center;
    max-width: 800px;
    padding: 2rem;
    border-radius: 20px;
    padding: 32px;
    /* background-color: yellowgreen; */
    /* margin-left: 1100px; */
   /* margin-top: 200px; */
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 1rem;
    color: rgb(21, 52, 72);
    /* font-family: Karantina, 'Source Sans Pro'; */
    font-weight: 800;
}

.hero p {
    color: rgb(21, 52, 72);
    font-size: 18px;
    /* margin-bottom: 2rem; */
    /* font-family: Karantina, 'Source Sans Pro'; */
    font-weight: 800;
    
}

.cta-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #999c9d;
    color: #fff;
    font-size: 18px;
    border-radius: 5px ;
    cursor: pointer;
    transition: background-color 0.2s ease;
   
    
}

.cta-button:hover {
    background-color: #d1d2d2;
    color: #000;
}

.imgframe{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    
}



.imgst{
    width: 300px;
    height: 300px;
    
}