* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
}


.login-container {
    width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

input:focus {
    border-color: #56CCF2;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #56CCF2;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #2D9CDB;
}
.bigbox{
   
    display: flex;

}

.divbox{
    /* background-image: url("https://c4.wallpaperflare.com/wallpaper/108/140/869/digital-digital-art-artwork-fantasy-art-drawing-hd-wallpaper-preview.jpg");
    width: 800px;
    height: 800px; */
   
}
.wall{
    width: 1200px;
    height: 800px; 
    /* height: fit-content;
    width: fit-content; */
}

.regis{
    margin-top: 15px;
    background-color: #2D9CDB;
    display: flex;
    justify-content: center;
    color: rgb(247, 250, 252);
    text-align: center;
    padding-top: 3px;
}
a{
    font-size: 16px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    font-family: Karantina, 'Source Sans Pro';
    font-weight: 800;
    color: rgb(247, 250, 252);
   
}

.pic1{
    margin-top: 20px;
    width: 360px;
    height: 360px;
}






