<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Science Plan</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Adjust alert appearance */
        .alert-box {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #f8d7da;
            color: #721c24;
            padding: 15px;
            border-radius: 5px;
            border: 1px solid #f5c6cb;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">OSC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/create-plan}">Create Science Plan</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1 class="text-center my-4">Create Science Plan</h1>
    <form action="/createSciencePlan" method="post">
        <div class="card">
            <div class="card-body">
                <!-- General Information -->
                <h5 class="card-title">General Information</h5>
                <div class="form-group">
                    <label for="creatorName">Creator Name:</label>
                    <input type="text" class="form-control" id="creatorName" name="creatorName" required>
                </div>
                <div class="form-group">
                    <label for="submitterName">Submitter Name:</label>
                    <input type="text" class="form-control" id="submitterName" name="submitterName" required>
                </div>
                <div class="form-group">
                    <label for="fundingInUSD">Funding in USD:</label>
                    <input type="number" class="form-control" id="fundingInUSD" name="fundingInUSD" required>
                </div>
                <div class="form-group">
                    <label for="objectives">Objectives:</label>
                    <textarea class="form-control" id="objectives" name="objectives" rows="4" required></textarea>
                </div>
            </div>
        </div>

        <!-- Observation Details -->
        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">Observation Details</h5>
                <div class="form-group">
                    <label for="starSystem">Star System:</label>
                    <select class="form-control" id="starSystem" name="starSystem" required>
                        <option value="Andromeda">Andromeda("Andromeda", 722.278, QUADRANT.NQ1, 90, 40, 11)</option>
                        <option value="Antlia">Antlia("Air Pump", 238.901, QUADRANT.SQ2, 45, 90, 4)</option>
                        <option value="Apus">Apus("Bird of Paradise", 206.327, QUADRANT.SQ3, 5, 90, 7)</option>
                        <option value="Aquarius">Aquarius("Water Bearer", 979.854, QUADRANT.SQ4, 65, 90, 10)</option>
                        <option value="Aquila">Aquila("Eagle", 652.473, QUADRANT.NQ4, 90, 75, 8)</option>
                        <option value="Ara">Ara("Altar", 237.057, QUADRANT.SQ3, 25, 90, 7)</option>
                        <option value="Aries">Aries("Ram", 441.395, QUADRANT.NQ1, 90, 60, 12)</option>
                        <option value="Auriga">Auriga("Charioteer", 657.438, QUADRANT.NQ2, 90, 40, 2)</option>
                        <option value="Boötes">Boötes("Herdsman", 906.831, QUADRANT.NQ3, 90, 50, 6)</option>
                        <option value="Caelum">Caelum("Chisel", 124.865, QUADRANT.SQ1, 40, 90, 1)</option>
                        <option value="Camelopardalis">Camelopardalis("Giraffe", 756.828, QUADRANT.NQ2, 90, 10, 2)</option>
                        <option value="Cancer">Cancer("Crab", 505.872, QUADRANT.NQ2, 90, 60, 3)</option>
                        <option value="CanesVenatici">CanesVenatici("Hunting Dogs", 465.194, QUADRANT.NQ3, 90, 40, 5)</option>
                        <option value="CanisMajor">CanisMajor("Greater Dog", 380.118, QUADRANT.SQ2, 60, 90, 2)</option>
                        <option value="CanisMinor">CanisMinor("Lesser Dog", 183.367, QUADRANT.NQ2, 90, 75, 3)</option>
                        <option value="Capricornus">Capricornus("Sea Goat", 413.947, QUADRANT.SQ4, 60, 90, 9)</option>
                        <option value="Carina">Carina("Keel", 494.184, QUADRANT.SQ2, 20, 90, 3)</option>
                        <option value="Cassiopeia">Cassiopeia("Cassiopeia", 598.407, QUADRANT.NQ1, 90, 20, 11)</option>
                        <option value="Centaurus">Centaurus("Centaur", 1060.422, QUADRANT.SQ3, 25, 90, 5)</option>
                        <option value="Cepheus">Cepheus("Cepheus", 587.787, QUADRANT.NQ4, 90, 10, 11)</option>
                        <option value="Cetus">Cetus("Whale (or Sea Monster)", 1231.411, QUADRANT.SQ1, 70, 90, 11)</option>
                        <option value="Chamaeleon">Chamaeleon("Chameleon", 131.592, QUADRANT.SQ2, 0, 90, 4)</option>
                        <option value="Circinus">Circinus("Compass (drafting tool)", 93.353, QUADRANT.SQ3, 30, 90, 7)</option>
                        <option value="Columba">Columba("Dove", 270.184, QUADRANT.SQ1, 45, 90, 2)</option>
                        <option value="ComaBerenices">ComaBerenices("Berenice’s Hair", 386.475, QUADRANT.NQ3, 90, 70, 5)</option>
                        <option value="CoronaAustralis">CoronaAustralis("Southern Crown", 127.696, QUADRANT.SQ4, 40, 90, 8)</option>
                        <option value="CoronaBorealis">CoronaBorealis("Northern Crown", 178.71, QUADRANT.NQ3, 90, 50, 7)</option>
                        <option value="Corvus">Corvus("Crow", 183.801, QUADRANT.SQ3, 60, 90, 5)</option>
                        <option value="Crater">Crater("Cup", 282.398, QUADRANT.SQ2, 65, 90, 4)</option>
                        <option value="Crux">Crux("Southern Cross", 68.447, QUADRANT.SQ3, 20, 90, 5)</option>
                        <option value="Cygnus">Cygnus("Swan", 803.983, QUADRANT.NQ4, 90, 40, 9)</option>
                        <option value="Delphinus">Delphinus("Dolphin", 188.549, QUADRANT.NQ4, 90, 70, 9)</option>
                        <option value="Dorado">Dorado("Dolphinfish", 179.173, QUADRANT.SQ1, 20, 90, 1)</option>
                        <option value="Draco">Draco("Dragon", 1082.952, QUADRANT.NQ3, 90, 15, 7)</option>
                        <option value="Equuleus">Equuleus("Little Horse (Foal)", 71.641, QUADRANT.NQ4, 90, 80, 9)</option>
                        <option value="Eridanus">Eridanus("Eridanus (river)", 1137.919, QUADRANT.SQ1, 32, 90, 12)</option>
                        <option value="Fornax">Fornax("Furnace", 397.502, QUADRANT.SQ1, 50, 90, 12)</option>
                        <option value="Gemini">Gemini("Twins", 513.761, QUADRANT.NQ2, 90, 60, 2)</option>
                        <option value="Grus">Grus("Crane", 365.513, QUADRANT.SQ4, 34, 90, 10)</option>
                        <option value="Hercules">Hercules("Hercules", 1225.148, QUADRANT.NQ3, 90, 50, 7)</option>
                        <option value="Horologium">Horologium("Pendulum Clock", 248.885, QUADRANT.SQ1, 30, 90, 12)</option>
                        <option value="Hydra">Hydra("Hydra", 1302.844, QUADRANT.SQ2, 54, 83, 4)</option>
                        <option value="Hydrus">Hydrus("Water Snake", 243.035, QUADRANT.SQ1, 8, 90, 11)</option>
                        <option value="Indus">Indus("Indian", 294.006, QUADRANT.SQ4, 15, 90, 9)</option>
                        <option value="Lacerta">Lacerta("Lizard", 200.688, QUADRANT.NQ4, 90, 40, 10)</option>
                        <option value="Leo">Leo("Lion", 946.964, QUADRANT.NQ2, 90, 65, 4)</option>
                        <option value="LeoMinor">LeoMinor("Lesser Lion", 231.956, QUADRANT.NQ2, 90, 45, 4)</option>
                        <option value="Lepus">Lepus("Hare", 290.291, QUADRANT.SQ1, 63, 90, 1)</option>
                        <option value="Libra">Libra("Scales", 538.052, QUADRANT.SQ3, 65, 90, 6)</option>
                        <option value="Lupus">Lupus("Wolf", 333.683, QUADRANT.SQ3, 35, 90, 6)</option>
                        <option value="Lynx">Lynx("Lynx", 545.386, QUADRANT.NQ2, 90, 55, 3)</option>
                        <option value="Lyra">Lyra("Lyre", 286.476, QUADRANT.NQ4, 90, 40, 8)</option>
                        <option value="Mensa">Mensa("Table Mountain (Mons Mensae)", 153.484, QUADRANT.SQ1, 4, 90, 1)</option>
                        <option value="Microscopium">Microscopium("Microscope", 209.513, QUADRANT.SQ4, 45, 90, 9)</option>
                        <option value="Monoceros">Monoceros("Unicorn", 481.569, QUADRANT.NQ2, 75, 90, 2)</option>
                        <option value="Musca">Musca("Fly", 138.355, QUADRANT.SQ3, 10, 90, 5)</option>
                        <option value="Norma">Norma("Level", 165.29, QUADRANT.SQ3, 30, 90, 7)</option>
                        <option value="Octans">Octans("Octant", 291.045, QUADRANT.SQ4, 0, 90, 10)</option>
                        <option value="Ophiuchus">Ophiuchus("Serpent Bearer", 948.34, QUADRANT.SQ3, 80, 80, 7)</option>
                        <option value="Orion">Orion("Orion (the Hunter)", 594.12, QUADRANT.NQ1, 85, 75, 1)</option>
                        <option value="Pavo">Pavo("Peacock", 377.666, QUADRANT.SQ4, 30, 90, 8)</option>
                        <option value="Pegasus">Pegasus("Pegasus", 1120.794, QUADRANT.NQ4, 90, 60, 10)</option>
                        <option value="Perseus">Perseus("Perseus", 614.997, QUADRANT.NQ1, 90, 35, 12)</option>
                        <option value="Phoenix">Phoenix("Phoenix", 469.319, QUADRANT.SQ1, 32, 80, 11)</option>
                        <option value="Pictor">Pictor("Easel", 246.739, QUADRANT.SQ1, 26, 90, 1)</option>
                        <option value="Pisces">Pisces("Fishes", 889.417, QUADRANT.NQ1, 90, 65, 11)</option>
                        <option value="PiscisAustrinus">PiscisAustrinus("Southern Fish", 245.375, QUADRANT.SQ4, 55, 90, 10)</option>
                        <option value="Puppis">Puppis("Stern", 673.434, QUADRANT.SQ2, 40, 90, 2)</option>
                        <option value="Pyxis">Pyxis("Compass (mariner’s compass)", 220.833, QUADRANT.SQ2, 50, 90, 3)</option>
                        <option value="Reticulum">Reticulum("Reticle", 113.936, QUADRANT.SQ1, 23, 90, 1)</option>
                        <option value="Sagitta">Sagitta("Arrow", 79.932, QUADRANT.NQ4, 90, 70, 8)</option>
                        <option value="Sagittarius">Sagittarius("Archer", 867.432, QUADRANT.SQ4, 55, 90, 8)</option>
                        <option value="Scorpius">Scorpius("Scorpion", 496.783, QUADRANT.SQ3, 40, 90, 7)</option>
                        <option value="Sculptor">Sculptor("Sculptor", 474.764, QUADRANT.SQ1, 50, 90, 11)</option>
                        <option value="Scutum">Scutum("Shield (of Sobieski)", 109.114, QUADRANT.SQ4, 80, 90, 8)</option>
                        <option value="Serpens">Serpens("Snake", 636.928, QUADRANT.NQ3, 80, 80, 7)</option>
                        <option value="Sextans">Sextans("Sextant", 313.515, QUADRANT.SQ2, 80, 90, 4)</option>
                        <option value="Taurus">Taurus("Bull", 797.249, QUADRANT.NQ1, 90, 65, 1)</option>
                        <option value="Telescopiu">Telescopiu("Telescope", 251.512, QUADRANT.SQ4, 40, 90, 8)</option>
                        <option value="Triangulum">Triangulum("Triangle", 131.847, QUADRANT.NQ1, 90, 60, 12)</option>
                        <option value="TriangulumAustrale">TriangulumAustrale("Southern Triangle", 109.978, QUADRANT.SQ3, 25, 90, 7)</option>
                        <option value="Tucana">Tucana("Toucan", 294.557, QUADRANT.SQ4, 25, 90, 11)</option>
                        <option value="UrsaMajor">UrsaMajor("Great Bear", 1279.66, QUADRANT.NQ2, 90, 30, 4)</option>
                        <option value="UrsaMinor">UrsaMinor("Little Bear", 255.864, QUADRANT.NQ3, 90, 10, 6)</option>
                        <option value="Vela">Vela("Sails", 499.649, QUADRANT.SQ2, 30, 90, 3)</option>
                        <option value="Virgo">Virgo("Virgin (Maiden)", 1294.428, QUADRANT.SQ3, 80, 80, 5)</option>
                        <option value="Volans">Volans("Flying Fish", 141.354, QUADRANT.SQ2, 15, 90, 3)</option>
                        <option value="Vulpecula">Vulpecula("Fox", 268.165, QUADRANT.NQ4, 90, 55, 11)</option>
                        <!-- Add more options for other enum values -->
                    </select>
                </div>
                <div class="form-group">
                    <label for="startDate">Start Date:</label>
                    <input type="text" class="form-control" id="startDate" name="startDate" placeholder="dd/MM/yyyy HH:mm:ss" required>
                </div>
                <div class="form-group">
                    <label for="endDate">End Date:</label>
                    <input type="text" class="form-control" id="endDate" name="endDate" placeholder="dd/MM/yyyy HH:mm:ss" required>
                </div>
                <div class="form-group">
                    <label for="telescopeLocation">Telescope Location:</label>
                    <select class="form-control" id="telescopeLocation" name="telescopeLocation">
                        <option value="HAWAII">HAWAII</option>
                        <option value="CHILE">CHILE</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Data Processing Requirements -->
        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">Data Processing Requirements</h5>
                <div class="form-group">
                    <label for="fileType">File Type:</label>
                    <select class="form-control" id="fileType" name="fileType" required>
                        <option value="PNG">PNG</option>
                        <option value="JPEG">JPEG</option>
                        <option value="RAW">RAW</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="fileQuality">File Quality:</label>
                    <select class="form-control" id="fileQuality" name="fileQuality" required>
                        <option value="Low">Low</option>
                        <option value="Fine">Fine</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="colorType">Color Type:</label>
                    <select class="form-control" id="colorType" name="colorType" onchange="toggleColorOptions(this)">
                        <option value="Color mode">Color mode</option>
                        <option value="B&W mode">B&W mode</option>
                    </select>
                </div>
                <!-- co options part-->
                <div id="coOptions">
                    <div class="form-group coOptions">
                        <label for="contrast">Contrast:</label>
                        <input type="number" class="form-control" id="contrast" name="contrast" step="0.01" value="0" required>
                    </div>
                    <div class="form-group coOptions">
                        <label for="exposure">Exposure</label>
                        <input type = "number" class = "form-control" id="exposure" name="exposure" step="0.01" value="0" required>
                    </div>
                </div>
                <!-- color mode -->
                <div id="colorOptions">
                    <div class="form-group">
                        <label for="brightness">Brightness</label>
                        <input type = "number" class = "form-control" id="brightness" name="brightness" step="0.01" value="0" required>
                    </div>
                    <div class="form-group">
                        <label for="saturation">Saturation</label>
                        <input type = "number" class = "form-control" id="saturation" name="saturation" step="0.01" value="0" required>
                    </div>
                    <div class="form-group">
                        <label for="hue">Hue</label>
                        <input type = "number" class = "form-control" id="hue" name="hue" step="0.01" value="0" required>
                    </div>
                    <div class="form-group">
                        <label for="luminance">Luminance</label>
                        <input type = "number" class = "form-control" id="luminance" name="luminance" step="0.01" value="0" required>
                    </div>
                </div>
                <!-- Additional fields based on b&w -->
                <div id="bwOptions" style="display: none;">
                    <div class="form-group">
                        <label for="highlights">Highlights:</label>
                        <input type="number" class="form-control" id="highlights" name="highlights" step="0.01" value="0" required>
                    </div>
                    <div class="form-group">
                        <label for="shadows">Shadows:</label>
                        <input type="number" class="form-control" id="shadows" name="shadows" step="0.01" value="0" required>
                    </div>
                    <div class="form-group">
                        <label for="whites">Whites:</label>
                        <input type="number" class="form-control" id="whites" name="whites" step="0.01" value="0" required>
                    </div>
                    <div class="form-group">
                        <label for="blacks">Blacks:</label>
                        <input type="number" class="form-control" id="blacks" name="blacks" step="0.01" value="0" required>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Submit</button>

    </form>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function toggleColorOptions(select) {
        const colorOptions = document.getElementById("colorOptions");
        const bwOptions = document.getElementById("bwOptions");
        if (select.value === "Color mode") {
            colorOptions.style.display = "block";
            bwOptions.style.display = "none";
        } else {
            bwOptions.style.display = "block";
            colorOptions.style.display = "none";
        }
    }
</script>
<!-- JavaScript to display response message -->
<script th:inline="javascript">
    /* Get the response message from Thymeleaf */
    const responseMessage = [[${response}]];

    /* Display the response message in an alert-style box */
    function showAlert(message) {
        const alertBox = document.createElement('div');
        alertBox.className = 'alert-box';
        alertBox.innerHTML = message;
        document.body.appendChild(alertBox);
        setTimeout(function() {
            alertBox.style.display = 'none';
        }, 3000); // Hide after 3 seconds
    }

    /* Call the function to show the response message */
    showAlert(responseMessage);
</script>
</body>
</html>

